<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="static/css/templatemo-comparto.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="static/css/leaflet.css">
    <link rel="stylesheet" href="static/css/qgis2web.css"><link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <style>
    #map {
        width: 595px;
        height: 579px;
    }
    .leaflet-control-messagebox {
	display: none; /* Initially hidden */
	border: 2px solid rgb(165, 207, 117);
	background-color: white;
    padding: 3px 10px;
    font-size: large;
    }
    </style>
    <title>Shajr Stats</title>

</head>

<body>
    <!-- Back to top button -->
    <a id="button"><i class="fas fa-angle-up fa-2x"></i></a>
    <div class="container-fluid">
        <div class="tm-site-header tm-mb-1">
            <div class="tm-site-name-container tm-bg-color-1">
                <img src="static/img/shajrstats.png" alt="About image" class="tm-img-responsive">
            </div>
            <div class="tm-nav-container tm-bg-color-8">
                <nav class="tm-nav" id="tm-nav">
                    <ul>
                        <li class="tm-nav-item current">
                            <a href="#about" class="tm-nav-link">
                                <i class="fas fa-map fa tm-mb-1"></i>
                                <span>Map</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#services" class="tm-nav-link">
                                <i class="fas fa-chart-bar fa tm-mb-1"></i>
                                <span>Analysis</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#gallery" class="tm-nav-link">
                                <i class="fas fa-file fa tm-mb-1"></i>
                                <span>Report</span>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#contact" class="tm-nav-link">
                                <i class="fas fa-flag fa tm-mb-1"></i>
                                <span>Mission</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <div id="map"></div>
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">Interactive Map Showing Level of Vegetation throughout Pakistan</h2>
                    <p>This shows the map of Pakistan calclulated through the <a>NDVI Vegetation Index</a> of the latest LANDSAT imagery
                    to calclulate the greenery percentage of Pakistan.
                    </p>
                    <p>
                        <strong>Methodology: </stron>This was done through our workbook on <a>Google Earth Engine</a> and then processed using Python scripts, for full walkthrough read our report.
                    </p>
                    
                    <a href="#services" class="tm-btn tm-btn-1 tm-link-to-services">View Results</a>
                </article>
            </div>
        </section>
        <div class="tm-bg-color-1 tm-mb-1 tm-row tm-social-row">
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#services">
                        <i class="fas fa-leaf fa-4x tm-mb-1"></i>
                        <p>Approximately only % of the area is under green cover</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#gallery">
                        <i class="fas fa-sun fa-4x tm-mb-1"></i>
                        <p>The average temperature of Pakistan is rising __.</p>
                    </a>
                </div>
            </div>
            <div class="tm-icon">
                <div class="tm-icon-inner">
                    <a href="#contact">
                        <i class="fas fa-medkit fa-4x tm-mb-1"></i>
                        <p>Our soil quality is very poor</p>
                    </a>
                </div>
            </div>
        </div>
        <section class="tm-mb-1 tm-row tm-services-row" id="services">
            <div class="tm-section-2-l">
                <article class="tm-bg-color-6 tm-box-pad tm-mb-1">
                    <h2 class="tm-mb-2">Interactive Drilldown Barchart</h2>
                    <p>View the distribution of greenery values across Pakistan sorted from highest to lowest</p>
                </article>
                <div class="tm-bg-color-7 tm-em-box">
                    <p class="tm-text-color-2">The current granularity of the data is at the Level 3 Administrative Boundaries Level (Provincial, District & Townwise Segmentation)</p>
                    <a href="#gallery" class="tm-btn tm-btn-2">View Data</a>
                </div>
            </div>
            <div class="tm-section-2-r">
                <!-- Graph interactive -->
                <div id="graph-container" data-toggle="tooltip" title="Click on the background to go back, and the bar chart to go forward">
  
                </div>
            </div>
        </section>
        <section class="tm-bg-color-4 tm-mb-3 tm-gallery-section" id="gallery">
            <div class="tm-gallery-header">
                <h2 class="tm-mb-1 text-right">Data Report</h2>
                <ul class="tm-gallery-filter tabs clearfix filters-button-group">
                    <li><a role="button" href="#" class="active" data-filter="*">Show All</a></li>
                    . <li><a role="button" href="#" data-filter=".nature">Nature</a></li>
                    . <li><a role="button" href="#" data-filter=".animals">Animals</a></li>
                    . <li><a role="button" href="#" data-filter=".people">People</a></li>
                </ul>
            </div>
            <div class="tm-gallery-outer">
                <div class="tm-gallery" id="tm-gallery">
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-01.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Too <span>CSS</span></h2>
                                <p>It is a great blog you should explore.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-02.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Templates</h2>
                                <p>best templates come from TemplateMo website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-03.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Web <span>Design</span></h2>
                                <p>This is our special design work.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item nature">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-04.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Free <span>HTML</span></h2>
                                <p>HTML layouts are easy to edit.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-05.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Just <span>Art</span></h2>
                                <p>You can create your own art website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item animals">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-06.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Pro <span>Display</span></h2>
                                <p>You can make your artwork gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item peopl">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-07.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>The <span>Nature</span></h2>
                                <p>You can create your own HTML website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-08.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Color <span>Art</span></h2>
                                <p>You can create your own CSS website.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-09.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Take it <span>easy</span></h2>
                                <p>You can create your own art gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="tm-gallery-item people">
                        <figure class="effect-bubba">
                            <img src="img/gallery/gallery-item-10.jpg" alt="Gallery item" class="tm-img-responsive" />
                            <figcaption>
                                <h2>Share <span>This</span></h2>
                                <p>You can make your own image gallery.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section> <!-- Gallery -->
        <section id="contact" class="tm-bg-color-5 tm-mb-3">
            <h2 class="tm-text-white tm-contact-title">The Mission</h2>
            <div class="tm-bg-color-white tm-contact-main">
                <div class="contact-info-outer" id="column1">
                    <div class="tm-bg-color-1 contact-info">
                        <h2>The purpose</h2>
                        <br>
                        <ul class="tm-mb-0">
                            <li>Targetted plantation drives to save resources</li>
                            <li>A data-driven approach helps monitoring and feedback</li>
                            <li>Auditable and transparent to the public</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-info-outer" id="column2">
                    <div class="tm-bg-color-6 contact-info">
                        <h2>Whats Next</h2>
                        <br>
                        <ul class="tm-mb-0">
                            <li>Correlation between soil quality and Vegetation</li>
                            <li>Realtime analysis of Greenery KPIs</li>
                            <li>Working with government and NGOs to assist them in their programs</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-info-outer" id="column3">
                    <div class="tm-bg-color-6 contact-info">
                        <h2>The Team</h2>
                        <br>
                        <br>
                        <ul class="tm-mb-0">
                            <li>Team Member: Maaz Tariq</li>
                            <li>Team Member: Talat Zubair</li>
                            <li>Team Member: Sualeh Ali</li>
                            <li>Supervisor: Sir Tariq</li>
                        </ul>
                        
                    </div>
                </div>
                <script>

// Javascript
$("#column1").height($("#column2").height());
$("#column2").height($("#column3").height());
                </script>
            </div>
        </section>
        <div class="tm-mb-4 text-center tm-social-s">
                <h4>#LetsMakePakistanGreenAgain</h4>
        </div>
        <footer class="text-center tm-mb-1">
            <p>Shajr Stats &copy; 2020 Shajr Stats
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </footer>
    </div> <!-- .container -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.min.js'></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script  src="static/js/script2.js"></script>  
    <script src="static/js/jquery.min.js"></script> <!-- https://jquery.com/download/ -->
    <script src="static/js/imagesloaded.pkgd.min.js"></script> <!-- https://imagesloaded.desandro.com/ -->
    <script src="static/js/isotope.pkgd.min.js"></script> <!-- https://isotope.metafizzy.co/ -->
    <script src="static/js/jquery.singlePageNav.min.js"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script>

        // Scroll to Top button
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });

        // DOM is ready
        $(function () {
            // Single Page Nav
            $('#tm-nav').singlePageNav({ speed: 600 });

            // Smooth Scroll (https://css-tricks.com/snippets/jquery/smooth-scrolling/)
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 600, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });

            /* Isotope Gallery */

            // init isotope
            var $gallery = $(".tm-gallery").isotope({
                itemSelector: ".tm-gallery-item",
                layoutMode: "fitRows"
            });
            // layout Isotope after each image loads
            $gallery.imagesLoaded().progress(function () {
                $gallery.isotope("layout");
            });

            $(".filters-button-group").on("click", "a", function () {
                var filterValue = $(this).attr("data-filter");
                $gallery.isotope({ filter: filterValue });
            });

            $(".tabgroup > div").hide();
            $(".tabgroup > div:first-of-type").show();
            $(".tabs a").click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = "#" + $this.parents(".tabs").data("tabgroup"),
                    others = $this
                        .closest("li")
                        .siblings()
                        .children("a"),
                    target = $this.attr("href");
                others.removeClass("active");
                $this.addClass("active");
            });
        });
    </script>
            <script src="static/js/qgis2web_expressions.js"></script>
            <script src="static/js/leaflet.js"></script>
            <script src="static/js/leaflet.rotatedMarker.js"></script>
            <script src="static/js/leaflet.pattern.js"></script>
            <script src="static/js/leaflet-hash.js"></script>
            <script src="static/js/Autolinker.min.js"></script>
            <script src="static/js/rbush.min.js"></script>
            <script src="static/js/labelgun.min.js"></script>
            <script src="static/js/labels.js"></script>
            <script src="static/data/greencities_export_1.js"></script>
            <script src="static/js/leaflet-script.js"></script>
</body>
</html>